/* GLOBAL STYLES */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Big Shoulders Display", sans-serif;
  color: white;
}

p {
  font-family: 'Glacial Indifference', sans-serif;
  font-weight: bolder;
}

h1 {
  font-weight: bolder;
}

/* CUSTOMIZE THE CAROUSEL */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  width: 100%;
  
}

.carousel-caption {
  position: center;
  padding: 10px;
  bottom: 3rem;
  z-index: 10;
}

.carousel-caption h1 {
  font-family: "Big Shoulders Display", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 10px;
  padding: auto;
  text-align: center;
}

.carousel-caption p {
  font-family: 'Glacial Indifference', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}



.carousel-item {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  padding-left: 0; /* Remove preenchimento à esquerda */
  padding-right: 0; /* Remove preenchimento à direita */
  padding-top: 9px;
}

.carousel-item img {
  margin-top: 50px;
  width: 100%; /* Imagem ocupa 100% da largura */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Cobre a área disponível sem distorcer */
}

.btn-lg {
  border: 4px solid white;
  background-color: #B6D1DE;
}

.btn-lg:hover {
  border: 4px solid white;
  background-color: #7A9AAB;
}

.carousel-control-next{
  padding: 0;
  margin: 0;
}

/* MARKETING CONTENT */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes */
.featurette-divider {
  margin: 5rem 0;
  border: 2px solid white;
}

.featurette-heading {
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS */
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    color: white;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  /* Ajusta o carrossel para telas menores */
  .carousel-item {
    max-height: 20rem; /* Reduz a altura para telas menores */
  }

  .carousel-caption h1 {
    font-size: 1.5rem; /* Reduz o tamanho do título no carrossel */
  }

  .carousel-caption p {
    font-size: 1rem; /* Reduz o tamanho do texto no carrossel */
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
